<div>
    <small>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        La liste affichée ci-dessous est contextualisée en fonction des filtres appliqués.
    </small>
</div>

<div id="modal-bloodbath-list-content" class="mtop">
    {% for marker in markers %}
        {% set totalDeath = app.getTotalDeathCount(marker.death) %}
        {% set deathLabel = (marker.death.section ? acronymise(marker.death.section) ~ ', ' : '') ~ marker.death.location ~ app.getCountyByCode(marker.death.county, true) %}
        {% set deathLabel = deathLabel ~ (totalDeath > 1 ? ' (<strong style="color: red">' ~ totalDeath ~ ' décès</strong>)': '') %}
        <p>
            <strong>{{ marker.death.day }}/{{ marker.death.month }}/{{ marker.death.year }} - [{{ app.getFilterValueLabel('cause', marker.death.cause) }}] {{ app.getFilterValueLabel('house', marker.death.house) }}:</strong>
            <span>{{ marker_link(marker.death, deathLabel) }}</span>
        </p>
    {% endfor %}
</div>
