<div class="death-container{% if death.getTotalDeathCount() >= 2 %} multiple-deaths{% endif %} px-3 py-2">
    <div class="row no-gutters">
        <h5 class="col-10 col-sm-auto">
            {{ death.getMarkerIcon(24) }}
            {% if death.section %}{{ death.section|acronymise }} - {% endif %}
            {% if death.count > 1 %}<strong style="color: red;">{{ death.count }} décès</strong> - {% endif %}
            {{ death.getHouseName() }}
        </h5>
        <div class="col-2 col-sm-auto pl-2">
            <div class="dropdown show">
                <a class="btn btn-secondary btn-xs" href="javascript:;" role="button" id="dropdownMenuDeathInfoWindow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuDeathInfoWindow">
                    {% if death.image %}
                        <a href="javascript:;"
                           class="dropdown-item d-block d-md-none"
                           data-controller="advanced-modal"
                           data-modal-title="Photo d'hommage"
                           data-modal-content-template="content/file"
                           data-modal-options="{{ {okLabel: "Fermer"}|json_encode|url_encode }}"
                           data-modal-content-vars="{{ { file: death.image, embedded: true}|json_encode|url_encode }}">
                            <i class="fa-solid fa-image d-none d-sm-inline-block"></i> Photo d'hommage
                        </a>
                    {% endif %}
                    <a href="javascript:;"
                       class="dropdown-item"
                       data-controller="copy-text"
                       data-success-msg="Le lien a bien été copié dans le presse-papier !"
                       data-content-text="{{ death.getDeathMarkerLink() }}">
                        <i class="fa-solid fa-link d-none d-sm-inline-block"></i> Copier le permalien
                    </a>
                    <a href="javascript:;"
                       class="dropdown-item"
                       data-controller="copy-element"
                       data-target-element=".death-container">
                        <i class="fa-solid fa-copy d-none d-sm-inline-block"></i> Copier le texte
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:;"
                       class="dropdown-item text-danger"
                       data-controller="advanced-modal"
                       data-modal-title="Vous avez trouvé une erreur ?"
                       data-modal-content-template="content/infowindow-error"
                       data-modal-content-vars='{{ {reference: reference}|json_encode|url_encode }}'>
                        <i class="fa-solid fa-circle-exclamation d-none d-sm-inline-block"></i> Signaler une erreur
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% for peer in death.peers %}
        {% if not peer.hidden %}
            {% if peer.count > 0 %}
                <h5>
                    {{ peer.getMarkerIcon(20) }}
                    {% if peer.section %}{{ peer.section|acronymise }} - {% endif %}
                    {% if peer.count > 1 %}<strong style="color: red;">{{ peer.count }} décès</strong> - {% endif %}
                    {{ peer.getHouseName() }}
                    {% if peer.count == 0 %}<em>(affiliation statutaire)</em>{% endif %}
                </h5>
            {% else %}
                <p>
                    {{ peer.getMarkerIcon(20) }}
                    {% if peer.section %}{{ peer.section|acronymise }} - {% endif %}
                    {{ peer.getHouseName() }}
                    <em>(affiliation statutaire)</em>
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="row no-gutters">
        <div class="mt-3 {% if death.image %}col-12 col-md-8 pr-2{% else %}col-12{% endif %}">
            {% set countyName = app.getCountyByCode(death.county, {removeCountyPrefix: true}) %}
            <strong>Emplacement</strong>: {{ death.location }} {% if countyName is not empty %}(<abbr data-tippy-content="Code département ou pays: {{ death.county }}">{{ countyName }}</abbr>){% endif %}
            {% if not death.gps.accurate %}
                <strong style="color: orangered;"><abbr data-tippy-content="Indique que l'emplacement du décès est inconnu ou approximatif">(Position approximative)</abbr></strong>
            {% endif %}
            <a href="https://maps.google.com/?ll={{ death.gps.lat }},{{ death.gps.lng }}&amp;q={{ death.location }}, {{ app.getCountyByCode(death.county) }}" target="_blank" tabindex="0">
                <i class="fa-solid fa-location-dot fa-lg"></i>
            </a>
            <br><br>
            <strong>Date</strong>: {{ death.day }}/{{ death.month }}/{{ death.year }}
            <br><br>
            <strong>Cause</strong>: {{ app.getFilterValueLabel('cause', death.cause) }} {% if death.origin != "interieur" %}<em>({{ app.getFilterValueLabel('origin', death.origin) }})</em>{% endif %}
            <br><br>
            {% if death.cause != 'suicide' %}
                <strong>Hommage</strong>:
                {% if death.homage %}
                    <a href="{{ death.homage.url }}" target="_blank" class="font-weight-bolder text-success">{{ death.homage.title|acronymise }}</a>
                    <i class="fa-solid fa-circle-check text-primary" data-tippy-content="Source officielle"></i>
                {% else %}
                    <em>Non communiqué</em>
                {% endif %}
                <br><br>
            {% endif %}
            <strong>Circonstances</strong>: {{ death.text|markdown|acronymise }}
        </div>
        {% if death.image %}
            <div class="col-4 align-self-center d-none d-md-block text-center small">
                <a href="javascript:;"
                   style="cursor: zoom-in;"
                   class="d-block"
                   data-controller="advanced-modal"
                   data-modal-title="Photo d'hommage"
                   data-modal-content-template="content/file"
                   data-modal-options="{{ {okLabel: "Fermer"}|json_encode|url_encode }}"
                   data-modal-content-vars="{{ { file: death.image, embedded: true}|json_encode|url_encode }}">
                    <img src="{{ config.imagePath.root ~ death.image.directory ~ '/' ~ death.image.filename }}"
                         alt="{{ death.image.desc }}"
                         class="mw-100 rounded border border-dark"
                         {% if death.image.desc|trim  %}title="{{ death.image.desc }}" {% endif %}/>
                </a>
                {% if death.image.licence|trim %} <small data-tippy-content="Licence {{ death.image.licence }}"><i class="fa-solid fa-warning d-none d-sm-inline-block"></i> Photo sous licence</small>{% endif %}
            </div>
        {% endif %}
        <div class="death-sources mt-3 pr-5 col-12">
            {% if death.sources|length == 1 and death.sources[0].title == '__CONFIDENTIAL__' %}
                <i class="fa-solid fa-triangle-exclamation" style="color: orangered;"></i>&nbsp;
                <strong data-tippy-content="La source étant anonyme, ce décès peut ne pas être fiable à 100%.">Source anonyme</strong>
            {% else %}
                <strong>Source{% if death.sources|length > 1 %}s{% endif %}</strong>:
                {% for source in death.sources %}
                    {% apply spaceless %}
                        {% if source.url %}
                            <a href="{{ source.url }}" target="_blank" rel="external" >{{ source.title }}</a>
                        {% else %}
                            <span>{{ source.title }}</span>
                        {% endif %}
                        {% if source.paywall %}
                            &nbsp;<i class="fa-solid fa-lock" data-tippy-content="Article réservé aux abonnés"></i>
                        {% endif %}
                        {% if not source.trustful %}
                            &nbsp;<i class="fa-solid fa-triangle-exclamation" style="color: orangered;" data-tippy-content="Prudence, une partie du contenu de cet article peut être inexact ou non sourcé."></i>
                        {% endif %}
                    {% endapply %}{% if not loop.last %}, {% endif %}
                {% else %}
                    <strong><i class="fa-solid fa-triangle-exclamation" style="color: orangered;"></i> Aucune source renseignée</strong>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if death.previousDeath or death.nextDeath %}
        <hr />
        <div class="clearfix mt-1">
            {% if death.previousDeath %}
                <div class="float-left text-left">
                    <i class="fa-solid fa-angles-left fa-lg"></i>
                    <span>
                        {{ death.previousDeath.getMarkerLink(death.previousDeath.getShortLabel()|acronymise, 14) }}
                    </span>
                </div>
            {% endif %}
            {% if death.nextDeath %}
                <div class="float-right text-right">
                    <span>
                        {{ death.nextDeath.getMarkerLink(death.nextDeath.getShortLabel()|acronymise, 14) }}
                    </span>
                    <i class="fa-solid  fa-angles-right fa-lg"></i>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
